<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-inappupdatemanager" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>InAppUpdateManager</name>
    <DESCRIPTION>A cordova plugin to support in-app updates in Android.</DESCRIPTION>
    <js-module name="InAppUpdateManager" src="www/InAppUpdateManager.js">
        <clobbers target="cordova.plugins.InAppUpdateManager" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="InAppUpdateManager">
                <param name="android-package" value="inappupdatemanager.InAppUpdateManager" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>
        <source-file src="src/android/InAppUpdateManager.java" target-dir="src/InAppUpdateManager" />
    </platform>
</plugin>